samples/testControlledVocabs/simpleEnum.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="color" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="green" />
            <xs:enumeration value="red" />
            <xs:enumeration value="blue" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="SomeElement">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Color" type="color" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>